Stephen Schoder aka "Stevie"
CSC106
ReadWrite from files
Week8

In [2]:
import pandas as pd
DF=pd.read_csv('Data.csv')
DF

   Gender Class Standing  Count  Weight
0    Male           Good      2     165
1  Female        Average      3     170
2    Male            Bad      2     155
3  Female           Good      1     140

In [4]:
DF['Gender'] #[]=single column

0      Male
1    Female
2      Male
3    Female
Name: Gender, dtype: object

In [5]:
DF['Gender'][2] #[][]= single element from single column

'Male'

In [6]:
DF['Gender'][2][3] #[][][]= single char from single element from single column

'e'

In [7]:


                            Ordinal    #class standing
            Categorical <   #-- qualitative! gender, class-standing
                            Nominal    #gender
DataTypes <
                            Discrete   #count
            Numerical   <   #-- quantitative! count, weight
                            Continuous #weight

IndentationError: unexpected indent (3998752967.py, line 2)



                            Ordinal    #class standing
            Categorical <   #-- qualitative! gender, class-standing
                            Nominal    #gender
DataTypes <
                            Discrete   #count
            Numerical   <   #-- quantitative! count, weight
                            Continuous #weight

In [4]:
import pandas as pd
data={
    "Student":['Mary','Tom','Jose'],
    "Grade":[90,91,92]
}

#Lad data into a DataFrame object:
df=pd.DataFrame(data)

print(df)

  Student  Grade
0    Mary     90
1     Tom     91
2    Jose     92
Tom

In [5]:
#to change DataFrame index (first line i.e. 0,1,2,3,...)
df=pd.DataFrame(data, index=["CSC 106","ENR 100","CIS 345"])
print(df)

        Student  Grade
CSC 106    Mary     90
ENR 100     Tom     91
CIS 345    Jose     92

In [20]:
def AddClassInfo(school,department,className,grade):
    School.append(school)
    Department.append(department)
    ClassName.append(className)
    Grade.append(grade)
    schoolstuff={
   # "School":School,
    "Department":Department,
    "Class Name":ClassName,
    "Grade":Grade
    }
    schoolDF=pd.DataFrame(schoolstuff, index=School)

School=["School of Engineering","School of Nursing"]
Department=["Computer Science","CNA"]
ClassName=["CSC106","DON256"]
Grade=["A","B"]
schoolstuff={
   # "School":School,
    "Department":Department,
    "Class Name":ClassName,
    "Grade":Grade
}

schoolDF=pd.DataFrame(schoolstuff, index=School)
print(schoolDF["Department"]["School of Engineering"])
print("\n")
AddClassInfo("School of stuff","Computer Science", "CSC101","A")
print(schoolDF)

Computer Science


                             Department Class Name Grade
School of Engineering  Computer Science     CSC106     A
School of Nursing                   CNA     DON256     B