In [8]:
'''
tuples MUST have () in creation, not [] or {}. ( , , , )
'''
Student_Names = ("John", 1, "Paul")
print(Student_Names[1])
type(Student_Names[1])

1

int

In [11]:
asdf = ("tasdf")
type(asdf)

str

In [16]:
Student_ID = ('John Doe', 'CSC106', 'Lab 1', 1, 3.6, '9/18/23')
Student_ID[4]=3.6

TypeError: 'tuple' object does not support item assignment

In [20]:
tuple_A= (0,[1,2,3],(4,5,6,),7.0)
type(tuple_A[1])

list

In [22]:
#Tuple to list

number_tuple = (1,2,3)
number_list = list(number_tuple)
type(number_list)

list

In [17]:
#lists now

numbers = [None]*10
for i in range(0,10):
    numbers[i]=(i+1)
    print(numbers[i])
#append adds to the end
numbers.append(11)
print(numbers)
#instert at x position, (pos,data)
numbers.insert(1,'cow')
print(numbers)
#extends another list to end of current one 
numbers.extend(numbers)
print(numbers)
#removes element from list
numbers.remove('cow')
print(numbers)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 'cow', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 'cow', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1, 'cow', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1, 'cow', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [16]:
rows=5
col=5
TwoDArray = [[None for x in range(col)] for x in range(rows)]
for i in range(rows):
    for j in range(col):
        TwoDArray[i][j] = i+j

print(TwoDArray)

[[0, 1, 2, 3, 4], [1, 2, 3, 4, 5], [2, 3, 4, 5, 6], [3, 4, 5, 6, 7], [4, 5, 6, 7, 8]]

In [25]:
row=5
col=2
Student_ID=[[None for x in range(col)] for x in range(row)]
#[['Name: ','Class: ','Grade: ','Date: ','School: ']*2] #'Stephen Schoder','CSC 106',3.6,'9/19/23','UMary']
print(Student_ID)
Student_ID[0][0]='Name: '
Student_ID[0][0]=
Student_ID[0][0]=
Student_ID[0][0]=
Student_ID[0][0]=
print(Student_ID)

[[None, None], [None, None], [None, None], [None, None], [None, None]]
[['Name: ', None], [None, None], [None, None], [None, None], [None, None]]

In [31]:
perInf= [['Name: ','Stephen Schoder'],['Address: ','where i live'],['Email: ','myemail@gmail.com']]
acdInf= [['School: ','UMary'],['Department: ','Comp Scie'],['Class: ','CSC 106'],['Credits: ',15],['Grade: ',4.0]]
perInf.extend(acdInf)
print(perInf)

[['Name: ', 'Stephen Schoder'], ['Address: ', 'where i live'], ['Email: ', 'myemail@gmail.com'], ['School: ', 'UMary'], ['Department: ', 'Comp Scie'], ['Class: ', 'CSC 106'], ['Credits: ', 15], ['Grade: ', 4.0]]

In [36]:
list_A=[0,[1,2,3],(4,5,6),7.0]
type(list_A[2][0])
#imagine any higher dimension array as a 1D array with x more 1D arrays in. When accessing a tuple\array in an array, treat as xD array i.e. list[2][4]

int

In [38]:
list=[1,2,3]
type(list)
list=tuple(list)
type(list)

tuple