# 3. Set

We create sets by placing all the elements inside curly braces {}, separated by comma. A set can have any number of items and they may be of different types (integer, float, tuple, string etc.). But a set cannot have mutable elements like lists, sets or dictionaries as its elements.

# Create a set

In [10]:
# create a set of integer type
student_id = {1, 2, 3, 4, 5}
print('Student ID:', student_id)

Student ID: {1, 2, 3, 4, 5}

Question : Create a set using numbers say some fake SSN.

In [13]:
# create a set of string type
Language = {'P', 'y', 't', 'h', 'o', 'n'}
print('Language :', Language)

#Explanation  : https://en.wikipedia.org/wiki/Set_(mathematics)

Language : {'h', 'P', 'o', 'y', 'n', 't'}

Question : Create a set using this sequence : "abc" and "cba"

In [14]:
# create a set of mixed data types
mixed_set = {'Hello', 106, 'A', 1.23}
print('Set of mixed data types:', mixed_set)

Set of mixed data types: {'A', 106, 'Hello', 1.23}

Question : How do I get the word 'Hello'.

In [15]:
# mixed_set{[0]} : Error!!
#Which data container allows for change?

list(mixed_set)[0]

'A'

Question : Create a set for this information and assign to a variable called "Student_ID". 
           
           Name : 
           Class : 
           Homework :
           Question : 
           Grade : 
           Date :

Question  : Create a set that contains the following data types of items. Please comment.
            integer, float, tuple, string

Question  : Create a set that contains the following data types of items. Please comment. 
            integer, float, list, string

Question  : Create a set that contains the following data types of items. Please comment.
            integer, float, set, string

In [16]:
#Question : #print numbers and share the your findings?

numbers = {2, 4, 6, 6, 2, 8}
numbers

{2, 4, 6, 8}

In [17]:
# create an empty set
empty_set = set()
empty_set

set()

# Modify Set

#Add any number to the set using
numbers.add(1)

Question : What is the output.

classes={'Math','Physics','Chemistry','Biology'}
new_class=['English']

syntax : 
#OLD.update(NEW)

#Question : What is the output.

Question : Create a set of all the classes that you are taking this semester.
           Add the classes you plan to take next semester in the original set. 
           
syntax : OLD.update(NEW)

Question : Oops ... Remove any one of the classes from next semester using ...
    
_____________.discard('__________')

Challenge : 

1. Create a tuple : First_name, Middle_name, Last_name 
2. Create a list : CSC106, 90, A
3. Create a set : 7500, University Driver, Bismarck, ND, 58504

Question : Combine all the above item to form a set. 
           Solve any error.